<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  </head>
  <body>
      <table border="3" style="color:navy">
        <th onclick="SortBy()">First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <tr ng-repeat="data in myData | orderBy: 'city' " style="color:black">
          <td>{{data.name}}</td>
          <td>{{data.last_name}}</td>
          <td>{{data.city}}</td>
        </tr>
      </table>
    <select ng-model="selectedCar" ng-options="y.name for (x, y) in cars"></select>
    <br />
    </div>
  </body>
  <script src="myApp.js"></script>
  <script src="myCtrl.js"></script>
  <script>
    function SortBy(){

    }
  </script>
</html>
