<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <!-- My name is {{ (firstName + " " + lastName) | uppercase }} -->
      <br />
      <ul>
        <li ng-repeat="x in myData">
          Name: {{x.Name}}
          <br />
          City: {{x.City}}
        </li>
      </ul>
      <table border="3" style="color:orange" padding="5">
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <tr ng-repeat="data in myData" style="color:black">
          <td>{{data.Name}}</td>
          <td>{{data.City}}</td>
          <td>{{data.Country}}</td>
        </tr>
      </table>
    </div>
  </body>
  <script src="myApp.js"></script>
  <script src="myCtrl.js"></script>
</html>
